DEBUG=True
APP_NAME=uk4wa-fuk4wa

DB__HOST=localhost
DB__NAME=posgtres
DB__USER=postgres
DB__PASSWORD=password
DB__PORT=5432

ENGINE__ECHO=True
ENGINE__POOL_SIZE=10
ENGINE__MAX_OVERFLOW=20

SESSION_MAKER__EXPIRE_ON_COMMIT=False
SESSION_MAKER__AUTOFLUSH=False