DEBUG=bool
APP_NAME=str

DB__HOST=str
DB__NAME=str
DB__USER=str
DB__PASSWORD=str
DB__PORT=int

ENGINE__ECHO=bool
ENGINE__POOL_SIZE=int
ENGINE__MAX_OVERFLOW=int

SESSION_MAKER__EXPIRE_ON_COMMIT=bool
SESSION_MAKER__AUTOFLUSH=bool