APP_NAME=pet-uk4wa

DB__DRIVER="postgresql+asyncpg"
DB__HOST=localhost
DB__NAME=sts
DB__USER=admin
DB__PASSWORD=admin
DB__PORT=5432

ENGINE__ECHO=False
ENGINE__POOL_SIZE=10
ENGINE__MAX_OVERFLOW=20

SESSION_MAKER__EXPIRE_ON_COMMIT=False
SESSION_MAKER__AUTOFLUSH=True